.contenet-services{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 65px;
    gap: 25px;
}
.image-service{
    width: 1800px ;
}
.image-service img {
    width: 100% ;
}
.content-text{
    /* display: flex; */
    flex-direction: column;
    justify-content: space-around;
    gap: 40px;
}
.content-text h2{
    font-size: 30px;
    font-weight: bold;
    color: black;
    padding: 10px 0;

}
.content-text p {
    font-size: 18px;
    margin-right: 20px;
}
.benefits{
    display: flex;
    align-items: center;
    padding: 10px;
}
.benefits i {
    font-size: 25px;
    animation: spin-roll  1s  infinite forwards ;
}
@keyframes spin-roll{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.content-text button{
    position: relative;
    cursor: pointer;
    background: #09c8c1;
    color: #17283c;
    border: 2px solid transparent;
  border-radius: 10px;
    transition: 0.5s;
    max-width: 150px;
    font-weight: 500;
    padding: 12px;
    margin: 20px 0;
}

.content-text button::before{
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    position: absolute;
    transform: rotate(25deg);
    color: #fff;
    z-index: 10;
    left: 10%;
}
.content-text button a {
    color: #fff;
    font-size: 17px;
    padding: 10px;
    font-weight: 600;
}
.content-text button:hover{
    color: #17283c;
    background-color: #fff;
    border: 2px solid #17283c;
}
.content-text button:hover a {
    color: #17283c;
}






@media screen and (max-width: 1000px){
    .contenet-services{
        flex-wrap: wrap;
        padding: 30px 20px;
    }
    .content-text h2{
    font-size:24px ;
    }
    .content-text p {
        font-size: 12px;
        padding: 10px;
        margin-right: 20px;
    }
}