.service-page{
    position: relative;
}
.contenet-services{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 65px;
    gap: 25px;
}
.image-service{
    width: 1800px ;
    text-align: center;

}
.image-service img {
    border-radius: 10px;
    width: 400px ;
}
.content-text{
    flex-direction: column;
    justify-content: space-around;
    gap: 40px;
}
.content-text h2{
    font-size: 30px;
    font-weight: bold;
    color: black;
    padding: 10px 0;

}
.content-text p {
    font-size: 18px;
    margin-right: 20px;
}
.benefits{
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
}
.benefits i {
    font-size: 25px;
    animation: spin-roll  1s  infinite forwards ;
}
@keyframes spin-roll{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.content-text button{
    position: relative;
    cursor: pointer;
    background: #09c8c1;
    color: #17283c;
    border: 2px solid transparent;
  border-radius: 10px;
    transition: 0.5s;
    max-width: 150px;
    font-weight: 500;
    padding: 12px;
    margin: 20px 0;
}

.content-text button::before{
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    position: absolute;
    transform: rotate(25deg);
    color: #fff;
    z-index: 10;
    left: 10%;
}
.content-text button a {
    color: #fff;
    font-size: 17px;
    padding: 10px;
    font-weight: 600;
}
.content-text button:hover{
    color: #17283c;
    background-color: #fff;
    border: 2px solid #17283c;
}
.content-text button:hover a {
    color: #17283c;
}
.img-section{
    width: 100%;
    height: 70vh;
    background: url('image/services/se1/1.png') fixed;
    background-position:center; 
    background-size: cover;

}
.description-service {
    display: flex;
    justify-content: space-around;
    width: 480px;
    height: 179px;
    background-color: rgb(255 255 255);
    box-shadow: 9px 8px 30px -4px rgb(64 71 73);
    position: absolute;
    top: -140px;
    font-weight: 900;
    line-height: 2;
    border-left: 8px double #17283c;
    color: #17283c;
    font-size: 22px;
    padding: 20px;
    cursor: pointer;
    left: 60px;
    transition: 0.5s;
    border-radius: 10px;
}
.description-service:hover{
    color: #fff;
    transition: 0.5s;
    border-left: 8px double #fff;
    background-color: #17283c;
}
.overly{
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
    background-color: #17283cd6;
    justify-content: center;
}
.overly h2{
    font-size: 55px;
    font-weight: 900;
    color: #fff;
    padding: 15px;
    text-align: center;
}

.select-sevice{
    width: 100%;
    height: 100%;
    background: #fafafa;
}
.select-sevice h3{
    text-align: center;
    font-size: 45px;
    width: 600px;
    margin: auto;
    font-weight: 800;
    color: #17283c;
    padding: 40px 0 0 0;


}


form {
	width: 380px;
	margin: 1em auto;
	padding: 3em 2em 2em 2em;
	background: #fafafa;
	border: 1px solid #ebebeb;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

.group { 
	position: relative; 
	margin-bottom: 45px; 
}

input , textarea ,select {
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	-webkit-appearance: none;
	display: block;
	background: #fafafa;
	color: #636363;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #757575;
}

input:focus,textarea:focus ,select:focus 

{ outline: none; }


/* Label */

label {
	color: #999; 
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	transition: all 0.2s ease;
}


/* active */

input:focus ~ label, input.used ~ label ,
textarea:focus ~ label, textarea.used ~ label {
	top: -20px;
  transform: scale(.75); left: -2px;
	/* font-size: 14px; */
	color: #09c8c1;
}


/* Underline */

.bar {
	position: relative;
	display: block;
	width: 100%;
}

.bar:before, .bar:after {
	content: '';
	height: 2px; 
	width: 0;
	bottom: 1px; 
	position: absolute;
	background: #4a89dc; 
	transition: all 0.2s ease;
}

.bar:before { left: 50%; }

.bar:after { right: 50%; }


/* active */

input:focus ~ .bar:before, input:focus ~ .bar:after { width: 50%; }


/* Highlight */

.highlight {
	position: absolute;
	height: 60%; 
	width: 100px; 
	top: 25%; 
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}


/* active */

input:focus ~ .highlight ,
select:focus ~ .highlight ,
    textarea:focus ~ .highlight {
	animation: inputHighlighter 0.3s ease;
}


/* Animations */

@keyframes inputHighlighter {
	from { background: #4a89dc; }
	to 	{ width: 0; background: transparent; }
}


/* Button */

.button {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  margin: .3em 0 1em 0;
  width: 100%;
  vertical-align: middle;
  font-size: 16px;
  line-height: 20px;
  font-weight: 800;
  color: #fff !important;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  letter-spacing: 1px;
  background: linear-gradient(45deg, #09c8c1 , #09c8c1 ,#17283c);
  border: 0;
  border-bottom: 2px solid #3160B6;
  cursor: pointer;
  transition: all 0.5s ease;
}
.button:focus { outline: 0; }


/* Button modifiers */

.buttonBlue {
    border-radius: 10px;
  /* text-shadow: 1px 1px 0 rgba(39, 110, 204, .5); */
}

.buttonBlue:hover {
     background: #17283c !important;
     color: #09c8c1 !important; 
    }


/* Ripples container */

.ripples {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}


/* Ripples circle */

.ripplesCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
}

.ripples.is-active .ripplesCircle {
  animation: ripples .4s ease-in;
}


/* Ripples animation */

@keyframes ripples {
  0% { opacity: 0; }

  25% { opacity: 1; }

  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}


@media screen and (max-width: 1000px){
    .contenet-services{
        flex-wrap: wrap;
        padding: 30px 20px;
    }
    .content-text h2{
    font-size:24px ;
    }
    .content-text p {
        font-size: 14px;
        padding: 10px;
        margin-right: 20px;
    }
}
@media screen and (max-width: 610px){
    .description-service{
        width: 80%;
        font-size: 18px;
        left: 50%;
        top: -300px;
        /* margin: 0 20px; */
        text-align: center;
    border-left: 0 double #17283c;
    border-bottom: 8px double #17283c;
    transform: translateX(-50%) !important;


        
    }
    .select-sevice{
	background: #fafafa;
        
    }
    .select-sevice h3{
        font-size: 25px;
        width: 320px;
        margin: auto;
    
    }
    form{
        padding: 3em 2em 2em 2em;
        background: #fafafa;
        border: 0px solid #ebebeb;
        box-shadow: transparent 0px 0px 0px 0px, transparent 0px 0px 0px 0px;
    }
    }
    .description-service:hover{
    border-bottom: 8px double #fff;
    border-left: 0 double #17283c;

    }
    .overly h2{
        font-size: 45px;
    }
    .img-section{
    height: 75vh;
    }
    .overly{
        padding-top: 70px;
        display: block;
    }

}
