@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "sora", sans-serif;
}
.services {
  padding: 25px 0;
  /* margin-bottom: 150px; */
}
.services h3 {
  text-align: center;
  padding-bottom: 15px;
}
.services h1 {
  font-size: 45px !important;
  text-align: center;
  font-weight: 800;
  width: 50%;
  margin: auto;
}

.services .title-service {
  font-size: 45px !important;
  font-weight: 400;
  text-align: center;
  /* width: 800px; */
  padding: 15px;
  font-weight: 800;
  font-style: normal;
  margin: 10px auto 15px !important;
}
.container-card {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px 25px;
  min-height: 520px;
  padding: 50px 50px;
}
.container-card .card{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  width: 310px;
  height: 320px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
}
.container-card .card:hover{
  height: 400px;
}
.container-card .card .image{
  position: absolute;
  top: 20px;
  width: 280px;
  height: 180px;
  background-color: #33d;
  border-radius: 12px;
  transition: 0.5s;
  overflow: hidden;
}
.container-card .card:hover .image{
   top: -100px;
   scale: 0.75;
   box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
}
.container-card .card .image img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container-card .card .content{
  position: absolute;
  width: 100%;
  padding: 0 30px;
  text-align: center;
  top: 235px;
  height: 50px;
  overflow: hidden;
  transition: 0.5s;
  /* border: 2px solid red; */
}
.container-card .card:hover .content{
  top: 120px;
  height: 250px;
}
.container-card .card .content h2{
  color: #09C8C1;
  font-size: 1.4em !important;
  margin-bottom: 20px;
  font-weight: 900;
}
.container-card .card .content p{
  color: #333;
  font-size: 1.05em;
}
.container-card .card .content a{
  position: relative;
  top: 15px;
  display: inline-block;
  padding: 12px 25px;
  background-color: #09C8C1;
  color: #ffff;
  font-weight: 500;
  text-decoration: none;
  border-radius: 8px;
}
@media screen and (max-width: 650px){
  .services .title-service{
    font-size: 25PX !important;
  }
.container-card {
  min-height:520px ;
}
}
/* .grid-services {
  grid-template-areas: "service-one  service-tow service-three service-four" "service-one  service-tow service-three service-four";
  display: grid;
  justify-content: center;
  margin: 20px 0 120px;
  gap: 40px;
  z-index: 12;
}
.card-services {
  position: relative;
  width: 250px;
  border-radius: 10px;
  height: 380px;
  border: 5px solid #17283c;
  border-width: 5px 0 0 5px;
  background-color: #f7f9fa;
}
@keyframes card-spin {
  0% {

    border-bottom:5px  ;
    border-left: 5px;
  }
  100% {
    border-top: 5px;
    border-right: 5px;
  }
}

.card-services:nth-child(1) {
  grid-area: service-three;
  background: url("image/services/ser1/1.png");
  background-size: cover;

  background-repeat: no-repeat;
}
.card-services:nth-child(2) {
  grid-area: service-one;
  background: url("image/services/ser3/3.png");
  background-size: cover;
}
.card-services:nth-child(3) {
  grid-area: service-four;
  background: url("image/services/ser5/2.png");
  background-size: cover;
}
.card-services:nth-child(4) {
  grid-area: service-tow;
  background: url("image/services/ser5/2.png  ");
  background-size: cover;
}

.services .card-hover__link {
  color: #fff;
  font-size: 13px;
  position: absolute;
  border-radius: 7px;
  border: 2px solid transparent;
  background-color: #09c1c8;
  font-weight: 800;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  padding: 10px;
  transition: 1s;
}
.services .card-hover__link:hover{
  background-color: #f7f9fa;
  color: #09c1c8;
  transition: 1s;
}

.text-service {
  text-align: center;
  width: 100%;
  background-color: #17283c;
  position: relative;
  z-index: 0 0 10;
  padding: 5px;
  height: 190px;
  color: #fff;
  top: 185px;
  transition: 1s;

  z-index: 2;
  border-radius: 0 0 10px 5px;
}
.text-service::before {
  content: "";
  width: 100%;
  height: 190px;
  background-color: rgb(23, 40, 60);
  border-radius: 50%;
  position: absolute;
  top: -79px;
  z-index: -1;
  left: 0px;
}
.text-service::after {
  content: "";
  width: 100%;
  height: 190px;
  background-color: rgb(23, 40, 60);
  border-radius: 50%;
  position: absolute;
  bottom: 0px;
  z-index: -5;
  left: 0px;
  opacity: 0;
}
.card-services:hover .text-service::after{
  bottom: -100px;
}

.card-services:hover .text-service {
  top: 0;
  transition: 1s;
  border-radius: 12px 12px 0 0;
  padding-top: 40px;
}
.card-services:hover .card-hover__link {
  bottom: -30px;
}
.card-services:hover .text-service::after {
  opacity: 1;
  transition: 1s;
}
.card-services:hover .text-service::before {
  opacity: 0;
  transition: 1s;
}

.text-service h2 {
  font-size: 17px !important;
  color: #fff;
  font-weight: 600;
}
.text-service h4 {
  margin-bottom: 20px;
  font-size: 13px;
  padding: 10px 0 0 0 ;
}
@media screen and (max-width: 1150px) {
  .grid-services {
    grid-template-areas: "service-one  service-tow" "service-three service-four";
    gap: 170px;
  }  
  .services .title-service {
    width: 700px;
  }
}
@media screen and (max-width: 850px) {
  .grid-services {
    grid-template-areas: "service-one  service-tow" "service-three service-four";
    gap: 80px;
  }  
  .services .title-service {
    width: 550px;
    font-size: 35px !important;
  }
@media screen and (max-width: 650px) {
 
  .text-service {
    height: 182px;
    top: 193px;
  }
  .text-service h2 {
    font-size: 17px !important;
    left: 14%;
    font-weight: 900;
}
.card-services:hover .text-service h2{
  top: -10px;
}


}
@media screen and (max-width: 570px) {
  .services .title-service {
    width: 300px;
    font-size: 25px !important;
  }
  .grid-services {
    grid-template-areas: "service-one"  "service-tow" "service-three" "service-four";
    gap: 20px;
  }  
} */






















































